.auto-signup {
  position: fixed;
  left: -1000000px;
  height: 0px;
}

.auto-signup__popup {
  max-width: 1000px;
  margin: auto;
  
}

.basicLightbox {
  &::after {
    @extend %psuedo;
    font-family: 'fontello';
    font-size: 24px;
    padding: 12px;
    left: auto;
    width: auto;
    right: 0;
    color: white;
    opacity: 0.5;
    content: '\e803';
  }
    
}