nav.breadcrumb {
  @extend %maxwidth;
  font-size: 0.9em;
  padding: 0.5em;
  // margin: calc(5px + 0.5vw) auto calc(5px + 1vw);
  color: var(--color-border-darker);
  text-align: center;
  @include media-query($small) {
    text-align: center;
    font-size: 0.9em;
    margin: 9px auto;
  }
  letter-spacing: 0.01em;

  max-width: 1350px;
  // width: 94%;
  @include font-body;
  &+.product-grid  {
    margin-top: 0;
  }
  span {
    display: inline-block;
    font-size: 0.9em;
  }
  a {
    // text-decoration: none;
    color: var(--color-body-text);
    display: inline-block;
    font-weight: 700;

    @include transition(transform);
    &:hover {
      transform: translateY(-2px)
    }
  }
}

.product-details__wrap nav.breadcrumb {
  padding: 0;
  margin: 0.4em 0 0;
  text-align: left;
  width: 100%;
}