
.icon-right-1:before { content: '\e800'; } /* '' */
.icon-video:before { content: '\e801'; } /* '' */
.icon-caret:before { content: '\e802'; } /* '' */
.icon-lock:before { content: '\e803'; } /* '' */
.icon-phone:before { content: '\e804'; } /* '' */
.icon-times:before { content: '\e805'; } /* '' */
.icon-basket:before { content: '\e806'; } /* '' */
.icon-user:before { content: '\e807'; } /* '' */
.icon-caret-down:before { content: '\e808'; } /* '' */
.icon-caret-up:before { content: '\e809'; } /* '' */
.icon-caret-right:before { content: '\e80a'; } /* '' */
.icon-tiktok:before { content: '\e80b'; } /* '' */
.icon-apple-music:before { content: '\e80c'; } /* '' */
.icon-google-play:before { content: '\e80d'; } /* '' */
.icon-search:before { content: '\e80e'; } /* '' */
.icon-down-open-big:before { content: '\e80f'; } /* '' */
.icon-left-open-big:before { content: '\e810'; } /* '' */
.icon-right-open-big:before { content: '\e811'; } /* '' */
.icon-up-open-big:before { content: '\e812'; } /* '' */
.icon-down-wide:before { content: '\e813'; } /* '' */
.icon-left-wide:before { content: '\e814'; } /* '' */
.icon-right-wide:before { content: '\e815'; } /* '' */
.icon-amazon-music:before { content: '\e816'; } /* '' */
.icon-globe:before { content: '\e817'; } /* '' */
.icon-attention-1:before { content: '\e818'; } /* '' */
.icon-play:before { content: '\e819'; } /* '' */
.icon-pause:before { content: '\e81a'; } /* '' */
.icon-stop:before { content: '\e81b'; } /* '' */
.icon-volume-up:before { content: '\e81c'; } /* '' */
.icon-note-beamed:before { content: '\e81d'; } /* '' */
.icon-download:before { content: '\e81e'; } /* '' */
.icon-up-wide:before { content: '\e81f'; } /* '' */
.icon-left-1:before { content: '\e820'; } /* '' */
.icon-down-1:before { content: '\e821'; } /* '' */
.icon-up-1:before { content: '\e822'; } /* '' */
.icon-clock:before { content: '\e823'; } /* '' */
.icon-location:before { content: '\e824'; } /* '' */
.icon-calendar:before { content: '\e825'; } /* '' */
.icon-attention:before { content: '\e826'; } /* '' */
.icon-spin:before { content: '\e831'; } /* '' */
.icon-spinner:before { content: '\e838'; } /* '' */
.icon-right-circled:before { content: '\e83a'; } /* '' */
.icon-play-circle:before { content: '\e900'; } /* '' */
.icon-pandora:before { content: '\e902'; } /* '' */
.icon-deezer:before { content: '\e903'; } /* '' */
.icon-tidal:before { content: '\e904'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-mail:before { content: '\f0e0'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-doc-text:before { content: '\f15c'; } /* '' */
.icon-youtube:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-down:before { content: '\f175'; } /* '' */
.icon-up:before { content: '\f176'; } /* '' */
.icon-left:before { content: '\f177'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
.icon-spotify:before { content: '\f1bc'; } /* '' */
.icon-soundcloud:before { content: '\f1be'; } /* '' */
.icon-pinterest:before { content: '\f231'; } /* '' */
.icon-amazon:before { content: '\f270'; } /* '' */
.icon-shopping-bag:before { content: '\f290'; } /* '' */