.menu-extras {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;

  .cart-outer {
    height: auto;
    margin:  auto 0;
    display: flex;
  }
  button, a {
    padding: 5px;
    text-align: center;
    text-decoration: none;
    i {
      font-size: 17px;

    }
  }

  label, .icon-label {
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--font-label-real);
    font-weight: normal;
    font-size: 10px;
    display: block;
    margin: 3px 0 0 ;
    flex: 0 0 100%;
  }

  [data-search-button] .icon-label {
    flex: 0 0 auto;
    @include media-query($large-up) {
      min-width: 100px;

    }
    display: inline-block;
    text-align: left;
    font-size: 12px;
    position: relative;
    z-index: 4;
    backface-visibility: hidden;
    margin: 0 1px;
    text-transform: none;
    letter-spacing: -0.04em;
    padding: 0 10px 2px 2px;
    border-bottom: 1px solid #000;
  }
}