
.single-option-selector {
  color:inherit;
}

.product-form-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 55rem;
  margin-bottom: calc(12px + 0.5vw);

  .text--center & {
    margin: 0 auto  calc(12px + 0.5vw);
  }

  @include media-query($tiny) {
  justify-content: center;

    [data-price-wrapper] {
      font-size: 1.1em;
    }
  }
  .quantity-select {
    flex: 0 0 auto;

    margin: 12px 0;
    padding: 10px;
    label {
      display: none;
    }
    @include media-query($medium-down) {
      margin-right: 0;
    }
    @include media-query($tiny) {
      margin: 0 ;
    }

  }

  button {
    margin: 0 0;
    &:only-child {
      margin: auto;
    }
    &.button.solid {
      // background: $color-secondary;
    }
    &.cart {
      font-size: 1.1em;
    }
    &[disabled] {
      // background-color: $color-border-darker !important;
      opacity: 0.6;
      &:hover {
        transform: translateY(0);
      }
    }
  }
}
