
#sitewidePopup {
  position: fixed;
  display: none;
  width: 100%;
  top: 0;
  left: 0;
  z-index:10000;
  transition: opacity 300ms ease;
  height: 100%;
  opacity: 0;
  body.popupOpen & {
    opacity: 1;
  }
  .show-popup {
    display: flex;
  }
}


body.popupOpen {
  overflow: hidden;
}


.show-popup {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100000;
  padding: 80px 0 12px 0;
  align-items: center;
  justify-content: center;
  overflow: auto;
  &__wrapper {
    max-width: 1000px;
    width: 96%;
    margin: 0px auto 100px;
    position: absolute;
    top: calc(20px + 3vw);
    left: 50%;
    transform: translate3d(-50%, 20px, 0);
    z-index: 10;
    padding:0;
    opacity: 0;
    transition: opacity 250ms $ease, transform 250ms 50ms $ease;
    .popupActive & {
      opacity: 1;
      transform: translate3d(-50%, 0, 0);
    }
  }

  &__inner {
    background: $color-body;
    color: $color-body-text;
    border-radius: calc(4px + 0.2vw);
    padding:0;
    overflow: hidden;
    h3 {
      text-align: center;
      margin: 6px auto 18px;
      text-transform: uppercase;
      font-weight: normal;
      letter-spacing: 0.1em;
      font-size: 20px;
       @include media-query($large-up) {
        font-size: 22px;
      }
    }
    h2 {
      text-align: center;
      margin: 0 auto 12px;
      @include media-query($large-up) {
        font-size: 40px;
      }
    }
  }
  &__overlay {
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    transition: opacity 300ms ease;
    opacity:0;
    .popupOpen & {

      opacity: 0.7;
    }
  }
  &__pane {
   position: relative;
   overflow: hidden;
  }
  &__closer {
    position: absolute;
    top: -0.4em;
    right: -0.4em;
    border-radius: 100px;
    background: white;
    font-weight: 400;
    color: black;
    display: inline-block;

    width: 2.4em;
    text-align: center;
    align-items: center;
    height:2.4em;
    line-height: 2.4em;
    transition: transform 300ms $ease;
    z-index: 200;
    &:hover {
      transform: translateY(-2px)
    }
  }
  &__header {
    position: relative;
    min-height: calc(220px + 8vh);
    padding:18% 20px;
    margin: -1px;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: black;
    .header-content {
      position: relative;
      width:80%;
      max-width: 900px;
      margin: auto;
      color: white;
      text-align: center;
    }
    h2 {
      letter-spacing: 0.05em;
      margin: 0.3em auto;
    }
    h4.label {
      &>* {
        display: inline;
        font-weight: 400;
        font-size: 15px;
        -webkit-font-smoothing: antialiased;
        font-weight: 200;
        letter-spacing: 0.1em;
      }
    }
    .eb-price {

      font-size: 22px;
      opacity: 0.85;
      font-weight: bold;
      i {
        font-size: 12px;
        vertical-align: middle;
        padding: 0 5px 3px;
        opacity: 0.4;

      }
    }
  }
  &__background {
    @extend %psuedoish;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.15;
    left: -1px;
    transition: opacity 200ms 100ms ease;
    .big-bg {
      @extend %psuedoish;
      background-size: cover;
      background-repeat: no-repeat;
      opacity: 0;
      z-index: 2;

      transition: opacity 200ms 100ms ease;
      &::after {
        @extend %psuedo;
        background: black;
        opacity: 0.2;
        z-index: 20;
      }
    }
    &.bgLoaded {
      opacity: 0.6;
      .big-bg {
        opacity: 1;
        background-position: inherit;
      }
    }
  }
  &__content {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: stretch;
    min-height: 240px;
    justify-content: stretch;

    .summary {
      flex: 1 1 300px;
      padding: 18px;
      @include media-query($medium-up) {
        padding: 24px calc(20px + 2vw);
      }
      @include media-query($widescreen) {
        padding:  44px 60px;
        flex: 1 1 400px;
      }
      &__title {
        font-size: calc(24px + 0.4vw);
        padding: 0 0 0.4em;
        border-bottom: 1px solid $color-accent;
      }
      font-size: 16px;
      &__content {
        div {
          max-width: 100% !important;
          width: 100% !important;
          margin: 0.4em 0 0.8em !important;
          font-size: 15px !important;
        }
      }
      h1,h2,h3,h4,h5,h6,p,ul,ol {

        max-width: 100%;
        width: 100%;
        text-align: left;
        margin: 0.4em 0 0.8em;
        &:first-child{
          margin-top: 0;
        }
        &:last-child{
          margin-bottom: 0;
        }
      }
      p,ul,li {
        line-height: 1.6;
      }
    }
    .checkout {
      flex: 1 1 200px;
      background: #efefef;
      padding: 12px 18px;
      position: relative;
      &::before {
        @extend %psuedo;
        width: 55px;
        background-image: linear-gradient(to left, transparent, rgba(0,0,0,0.05))
      }
        & >* {
          position: relative;
          z-index: 2;
        }
      h3 {
        font-size: 16px;
        padding: 30px 10px 10px;
        margin: 0;
      }
    }
  }
}

.ticket-row {
  display: flex;
  align-items: center;
  justify-content: stretch;
  width: calc(100% - 12px);
  background: white;
  padding: 6px 0 0;
  margin: 6px;
  @extend %shadowBefore;
  position: relative;
  transition: transform 300ms $ease;
  display: inline-flex;
  perspective: 100px;
  &:hover {
    transform: translate3d(0, -2px, 2px);
  }
  &:nth-child(even) {
    background: #f4f3f0;
  }
  .ticket-left {
    flex: 3 1 200px;
  }
  .ticket-right {
    flex: 0 0 auto;
    text-align: right;
  }
  .ticket-date {

    max-width: 300px;
    margin: auto 0;
    font-size: 18px;
    padding: 4px 12px;



  }
  .ticket-time {

    font-size: 16px;
    font-weight: normal;
    padding: 4px 12px;
    opacity: 0.5;

  }
  i {
      margin: 0 4px 0 0;
      font-size: 14px;
      display: inline-block;
      vertical-align: middle;
      color: $color-accent-darker;
    }
  .ticket-buttons {

    text-align: right;
    padding: 4px 12px 8px;
    .button {
      margin: 0;
      // background: transparent;
      // color: $color-accent-darker;
      padding: 9px 12px;
    }

  }
  .ticket-price {

    padding: 4px 12px 12px;
    flex: 0 0 auto;
    text-align: center;
  }
}




.ticket-table {
  padding: 12px 0 0;
  text-align: left;

  &__header {
    display: none;
    @include media-query($small) {
    }
    h4.ticket-date,h5.ticket-time,div {
      font-size: 15px;
      opacity: 0.5;
      font-weight: normal;
      text-transform: uppercase;
      letter-spacing: 0.05em;
    }
  }
}