
.slide-content {
  position: relative;
  width: 100%;
  height: 100%;
  left: 0;
  top:0;
  display: flex;
  align-items: center;

  justify-content: center;
  z-index: 20;
  padding: 2.5vw;

  .logo-wrap {
    width: 100%;
    margin: calc(20px + .15vw) auto;
  }
}

.slide-content-inner {
  max-width: 900px;
  text-align: center;
  width: 90%;
  @include media-query($small) {
    width: 100%;
  }

  //Margin/spacing
  margin: auto;
  &.aligntext--left {
    margin-left: 5%;
    @include media-query($widescreen) {

      margin-left: 10%;
    }
  }
  &.aligntext--right {
    margin-right: 5%;
    @include media-query($widescreen) {

      margin-right: 10%;
    }
  }


  .h1 {
    margin: 0.25em 0;
  }
  .responsive-image__wrapper {
    width: 100%;
    margin: auto;
    // max-width: 100% !important;

  }
  &.mega-text {
    .h1 {
      font-size: calc(2.5rem + 3vmax);
      @include media-query($small) {
        font-size: calc(3rem + 1vmax);
      }
    }
    h4 {
      font-size: calc(2rem+ 2vmax);
    }
    p {
      font-size: calc(1.5rem + 0.25vw);
    }
  }
  &.shadow-text {
    .h1 {
      text-shadow: 0 0 24px rgba(0,0,0,0.4);
    }
    h4 {
       text-shadow: 0 0 12px rgba(0,0,0,0.4);
    }
  }
}


body.header-overlay.overlay-shadow .image-section:first-child {
   &::before {
    @extend %psuedo;
    height:calc(100px + 9vw);
    background: linear-gradient(to top, transparent, rgba(black, 0.26));
    z-index: 20;
  }
}

@mixin boxedStyle() {

    padding: 20vw 5vw;
    @include media-query($tiny) {
    padding: 10vw 12px 20px;
    }
     .slide-content-inner {
        display: grid;
        width: 100%;
        text-align: left;
        grid-template-columns: auto 1fr;
        margin: auto;
        grid-template-areas: "logo content" ;
      }

      .logo-wrap {
        grid-area: logo;
        width: 150px;
        padding-right: 24px;
        margin-left: -12px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .content-wrap {
        grid-area: content;
      }

    .slide-content {
      // background: rgba(black, 0.8);
      // color: white;
      width: auto;
      max-width: calc(400px + 5vw);
      margin: auto ;
      padding: calc(20px + 2vw) calc(12px + 1.2vw);
      .common-header {
        margin-bottom: 0.5em;
      }



      @include media-query($widescreen) {
        padding: 32px 24px;
      }


      .button-wrap {
        margin: 1.6rem auto 0;
        .button {
          margin: 0;
        }
      }


    }



    &[class*=position--bottom] {
      .slide-content {
        margin-bottom: 0;
        @include media-query($small) {
          margin-top: 40vw;
        }
      }
    }
    &[class*=position--top] {
      .slide-content {
        margin-top: 0;
      }
      @include media-query($small) {
          margin-bottom: 40vw;
        }
    }
    &[class*=left] {
      .slide-content {
        margin-left: 0;
      }
    }
    &[class*=right] {
      .slide-content {
        margin-left: 0;
      }
    }




}


.swiper-slide.style--boxed {
  @include media-query($medium-up) {
    @include boxedStyle();

    &.crop--disabled {
      .slide-content {
        position: absolute;
        transform: translate3d(0,0,0);
        height: auto;
        top: auto;
        bottom: auto;
        left: auto;
        right: auto;
      }

      &[class*=position--bottom] {
        .slide-content {
            bottom: 5%;
        }
      }
      &[class*=position--top] {
      .slide-content {
            top: 5%;
        }
      }
       &[class*=left] {
        .slide-content {
          left: 5%;
        }
      }
      &[class*=right] {
        .slide-content {
          right: 5%;
        }
      }
    }
  }
}
.swiper-slide.mobile-style--boxed {
  @include media-query($small) {
    @include boxedStyle();
    &[class*=position--top] {
      .slide-content {
            margin-bottom: 34%;
        }
    }
    &[class*=position--bottom] {
      .slide-content {
            margin-top: 34%;
        }
      }
      &.crop--disabled {
        .slide-content {
          position: relative;
          margin: -5vw 5vw 5vw;

          transform: translate3d(0,0,0);
          top: auto;
          left: auto;

        }
      }
  }
}

.swiper-slide.mobile-style--centered {
  text-align: center;
  .slide-content, .common-header {
    text-align: center;
  }
  .button-wrap {
    justify-content: center;
    text-align: center;
  }
}