.product-details__wrap {
  .visible-tag__outer {
    width: 100%;
    text-align: inherit;
    margin: 10px auto -10px;
  }
}

.visible-tag {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  &.style--backgrounded {
    font-size: 0.8em;

  }
  &.style--simple {
    font-size: 0.9em;
  }
}

.product-grid-item {
  .style--simple .visible-tag {
    font-size: 14px;
  }
  .style--backgrounded .visible-tag {
    font-size: 13px;
  }
}

.visible-tag__outer.style--backgrounded {
  // width: 100%;
  // text-align: center;
  .visible-tag {
    background: $color-accent;
    color: $color-accent-inverse;
    display: inline-block;
    padding: 0.4em 0.9em 0.5em;
    box-shadow: 0 0 4px rgba(black, 0.1);
    line-height: 1;
    margin: 0 auto 0.55em;
  }
}

.product-grid-item   .h5.visible-tag {
    font-size: 0.9em;
    opacity: 0.9;
}

.product-details__wrap {
  .visible-tag__outer:first-child {
    @include media-query($tiny) {
      text-align: center;
    }
    margin: 0 0 8px;
  }
}

.product-images__wrap, .grid-item__image {
  .visible-tag__outer {
    position: absolute;
    top: 5%;
    z-index: 10000;
    left: 0;
    &.location--top {
      top: 5%;

    }
  }
}