
{%render 'column-starter' with params: params, type: type %}
{% render 'column-header' with params: params %}
<div class="embed-wrap {% if params.shadow == true%} shadow--big {%endif%}">{{params.html}}</div>
{% if params.button_text != blank and  params.button_url != blank %}
  <div class="button-wrap center">
    <a href="{{params.button_url}}" class="button">{{params.button_text}}</a>
  </div>
  {%endif%}
</div>