<button class="mobile-nav-toggle mobile-icon menu-icon">
  <span class="opener">
    <i class="icon-menu" aria-label="open menu"></i >
    {% if settings.mm_show_menu_text == true %}<span class="icon-label">Menu </span>{%endif%}
  </span>
</button>