<button class="mobile-nav-toggle menu-icon">
<span class="opener menu-icon">
  <i class="opener icon-menu" aria-label="open menu"></i >
  {% if settings.include_icon_text == true %}<span>Menu </span>{%endif%}
</span>
<span class="closer">
  <i class="closer icon-times"></i aria-label="open menu">
  {% if settings.include_icon_text == true %}<span>Close </span>{%endif%}
</span>
</button>