<div class="popup-content popup-signup" style="">
  <div class="popup-inner" style="background-color:{{settings.signup_background_color}}; color: {{settings.signup_text_color}}">
    {% include 'signup-form' %}
  </div>
</div>