
#shopify-section-announcement {
  @extend %psuedoish;
  height: 0;
  overflow: visible;
  position: relative;
  z-index: 2000;
  .fixed-announcement & {
    @include media-query($medium-up) {
      overflow: hidden;
    }
    @include media-query($small) {
      top: var(--header-ht);
      position: absolute;
      height: auto;
      pointer-events: none;
    }
  }
}

body {
  //Difference between this and announcement keeps them from showing a gap between them
  transition: margin 340ms $ease;
}

body.announcement-active {
  margin-top: var(--announcement-height);
  &.fixed-announcement {
    margin-top: 0;
    .site-header__inner {
      @include media-query($medium-up) {
        padding-top: var(--announcement-height);
      }
    }
  }
}


.announcement-bar {
  padding:  calc(4px + 0.25vw);
  @include media-query($widescreen) {
    padding: 7px;
  }
  position: relative;
  background: var(--bg-color);
  color: var(--text-color);
  position: absolute;
  width: 100%;
  transform: translateY(-100%);
  left: 0;
  top: 0px;
  margin-bottom: -2px;
  text-align: center;
  z-index: 1000;

  .fixed-announcement & {
    position: fixed;
    top: 0 !important;
    @include media-query($small) {
      position: relative;
    }
  }

  &.announceActive {
    transform: translateY(0)
  }

  &__inner {
    position: relative;
    padding: 2px 40px;
    @include media-query($tiny) {
      padding: 4px 40px 4px 4px;
    }
  }

  button.close-button {
    border: 0px;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    width: 45px;
    appearance: none;
    color: var(--text-color);
    border: none;
    align-items: center;  justify-content: center;
    background: rgba(black, 0.1);
    padding: 5px;


    i {
      display: inline-block;
    }
  }

   p {
    margin: 3px 12px;
    font-size: 1em;
    display: inline-block;


    @include media-query($tiny) {
      text-align: left;
      font-size: 0.9em;
    }
  }

  a {
    vertical-align: middle;
    display: inline-block;
    color: inherit;
    font-weight: 700;

    &.button {
      color: var(--bg-color);
      background: var(--text-color);
    }

    @extend %hover;
  }
}