.shopify-section.content-columns {
  overflow: hidden
}

.section-inner.columns-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  &.expand {
    margin: 0;
    max-width: 100%;
    width: 100%;

    justify-content: space-between;

    .type--image {
      padding: 0;
      margin: 0;
      &.colsize--huge {
        flex: 1 1 100%;
      }
    }

    &.type--text {
      margin: auto;
    }


    @include media-query($medium-up) {
      flex-wrap: nowrap;

      .type--text {
        padding: calc(12px + 1vw) calc(20px + 2vw)
      }
    }

    @media only screen and  (min-width: 1700px) {
      padding: 0 calc(50vw - 1000px);
    }

  }
}

.content-column {
  &__image {
    display: block;
    &:first-child {
      margin-top: 0 !important;
    }
  }
  &.colsize--small {
    flex: 1 1 200px;
    max-width: 600px;
    @include media-query($tiny) {
      max-width: 100%;
    }

  }
  &.colsize--medium {
    flex: 1 1 440px;
    max-width: 790px;
    @include media-query($small) {
      max-width: 100%;
    }
  }
  &.colsize--large {
    flex: 1 1 600px;
    max-width: 900px;
  }
  &.colsize--huge {
    flex: 1 1 900px;
    max-width: 100%;
  }

  &.fullwidth {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }

  margin:1%;
  padding: calc(12px + 1vw);

  @include media-query($widescreen) {
    padding: 18px;
    margin: 12px;
  }

  .button-wrap {
    text-align: inherit;
    margin: 12px 0;

    &:last-child {
      margin-bottom: 0;
    }
    &:first-child {
      margin-top: 0;
    }

    .button {
      margin: 0;
    }
  }

  &.align--center {
    text-align: center;
  }
  &.align--right {
    text-align: right;
  }

  &.type--text {
    position: relative;
    z-index: 2  ;
  }

  &.type--divider {
    flex: 0 0 100%;
    padding: 0 !important;
    margin: 0 !important;
  }

  &.type--image {
    position: relative;
    z-index: 1;
    &.has--img2 {
      .content-column__image:nth-child(1) {
        width: 85%;
      }
      .content-column__image:nth-child(2) {
        width: 60%;
        margin: -52% -7% 20% auto;
      }
      &.has--img3 {
         .content-column__image:nth-child(1) {
          width: 65%;
        }
        .content-column__image:nth-child(2) {
          width: 59%;
          margin: -52% -5% -30% auto;
        }
        .content-column__image:nth-child(3) {
          width: 75% ;
          margin: -50% auto 0 -20%
        }
      }
    }
  }
  &.type--textimg {
    .content-column__image {
      margin: calc(12px + 1vw) auto;
    }
  }

  .rte b, .rte strong {
    font-size: 1.13em;

  }
}


.embed-wrap {
  margin: calc(22px + 0.5vw) auto;
}


.content-column.type--background {
  padding: 0 !important;
   .video-bg {
    @extend %psuedo;
    z-index: 2;
    @include object-fit();
  }
}

.column-background {
  position: relative;
  padding: 0 !important;
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
    color: var(--section-text);
    background: var(--section-bg);
    text-decoration: none;

    &:hover {
      .column-background__wrap {
        transform: scale(1.1);
      }
    }
  }

  &__wrap {
   transition: transform 300ms ease;
  }
  &__background, &__image, &__video {
    @extend %psuedo;
  }

  &__content {
    padding: calc(40px + 10%) 0;
  }

  .common-header__outer {
    margin-bottom: 0 !important;
  }
}