#news {
  padding-top: 34%;
  .section-bg__image {
    background-position: 50% 0;
  }
}



 #hero .swiper-slide:first-child {
   min-height: 65vh;
 }

.heading {
    line-height: 0.8 !important;

  }

h2.heading, .h2.heading {
    font-size: calc(100px + 3vw) !important;
    line-height: 0.7 !important;
}
h3.heading, .h3.heading {
  font-size: calc(60px + 2vw) !important;
}
h4.heading, .h4.heading {
  font-size:calc(45px + 1vw) !important;
}

#listen {

  .block-header__title {
    margin: 0 auto;
  }
}
#Image-502508355757-2 {
  object-position: 100% 50% !important;
}

#about .columns-wrap {
  align-items: flex-start;
}
#tour .tour-section__inner {
  max-width: 1300px;
  padding: 5vw;
  margin: auto;
}

#tour .section-bg__image {
  background-position: 50% 0;
}

section#about {
    margin-bottom: calc(-30px - 3vw);
}