@import '~normalize.css/normalize';
@import '~basiclightbox/dist/basicLightbox.min.css';
// Settings
@import './variables';

// Tools
@import './tools/mixins';
@import './tools/functions';

// Core
@import './core/typography';
@import './core/forms';
@import './core/helpers';
@import './core/layout';
@import './core/media';
@import './core/rte';

@import './components/vidbox';
@import './components/popups';
@import './components/ctas';
@import './components/socials';
@import './components/icons';



body.template-password {
  background: var(--password-bg);
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  .shopify-section {
    width: 100%;
    position: relative;
    z-index: 1;
  }
  .password-bg {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    opacity: 0.5;
    background: var(--password-bg);
    color: var(--password-color);
    height: 100%;
    z-index: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    .desktop-image, .mobile-image, .video-player {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      img {

        @include object-fit();
        object-position: 50% 50%;
        height: 100%;
        width: 100%;
      }
    }
  }
}


.password-header__wrap {
  // display: flex;
  align-items: center;
  justify-content: center;
  .password-header__title {
    width: 65%;
    max-width: 700px;
    h1 {
      font-size: 32px;
    }
    // margin-bottom: 10vmin;
  }

  .h1 , a.logo-image, .logo-wrap {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    svg, img {
      width: 100%;
      height: auto;
    }
  }
  h4 {
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 0.1em;
    margin: 1em auto;
  }
  header, span.h4 {
    display: inline-block;
    padding: 20px;
    margin: 0;
    vertical-align: middle;
  }
  header {
    width: auto;
    max-width: 1000px;
    flex: 0 0 auto;

  }
  img {

  }
}

.password-content__outer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  width: 100%;
  height: 100%;
}

.password-content {
  position: relative;
  z-index: 1;
  text-align: center;
  color: var(--password-color);
  max-width: 950px;
  width: 90%;

}

#shopify-section-password-content {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 700px;
  padding: 24px;
  padding: calc(12px + 2.5vw);
  // background: var(--password-color);
  // box-shadow: 20px 20px 0px $color-accent;
}

.password-social-sharing {
  text-align: center;
  margin: 15px auto;
  a {
    margin: 10px;
    font-weight: normal;
    font-size: 24px;
  }
}


#passwordEnter {
  position: absolute;
  top: 2%;
  right: 2%;
  color: $color-accent;
  button {
    color: inherit;
    appearance: none;
    background: transparent;
  }
}