{% assign delay = 0 %}
{% render 'section-starter' with section_class: 'content-columns--outer', section: section%}

<div class="section-inner columns-wrap {% if section.settings.expand == true %} expand {%endif%}">

  {% for block in section.blocks %}
        {% case block.type %}
        {% when 'code' %}
          {% render 'column-code' with id: block.id, type: block.type, params: block.settings %}
        {% when 'text' %}
          {% render 'column-text' with id: block.id, type: block.type, params: block.settings%}
        {% when 'product' %}
          {% include 'column-product' with  id: block.id, type: block.type, params: block.settings %}
        {% when 'image' %}
          {% render 'column-image' with id: block.id, type: block.type, params: block.settings %}
        {% when 'background' %}
          {% render 'column-background' with block_id: block.id, type: "background", params: block.settings %}
        {% when 'textimg' %}
          {% render 'column-textimg' with id: block.id, type: block.type, params: block.settings %}
        {% when 'before-after' %}
          {% render 'column-before-after' with id: block.id, type: block.type, params: block.settings %}
        {% when 'video' or 'video_link' %}
          {% render 'column-video' with id: block.id , type: 'video', params: block.settings %}
        {% when 'divider'  %}
          {% render 'column-divider' with id: block.id , type: 'video', params: block.settings %}
      {%endcase%}
  {%endfor%}
</div>
</section>
{% schema %}
  {
    "name" : "Content Columns",
    "class" : "content-columns",
    "settings" : [
      {
        "type" : "header",
        "content" : "Meta"
      },
      {
        "type": "text",
        "id" : "anchor_id",
        "label" : "Section ID (for anchor links and specific styling)"
      },
  {
        "type": "text",
        "id" : "anchor_classes",
        "label" : "Section classes (for  specific styling)"
      },
      {
        "type": "text",
        "id" : "title",
        "label" : "Nice Name",
        "info" : "Just for keeping the back end organized! Enter a nice name here",
        "default" : "Content Columns"
      },
      {
        "type" : "header",
        "content" : "Columns Settings"
      },
      {
        "type" : "checkbox",
        "id" :"expand",
        "label" : "Remove Padding"
      },

       {
        "type" : "header",
        "content" : "Section Settings"
      },
      {
        "type" : "paragraph",
        "content" : "These are common options for all sections to make styling out background colors/images a bit easier, as well as editing spacing and sizing."
      },
      {
        "type" : "color",
        "id" : "background_color",
        "label" : "Background Color"
      },
      {
        "type" : "color",
        "id" : "text_color",
        "label" : "Text Color"
      },
      {
        "type" : "select",
        "id" : "section_size",
        "label" : "Section size",
        "default" : "large",
        "options" : [
          {
            "value" : "full-width",
            "label" : "Full Width"
          },
          {
            "value" : "large",
            "label" : "Large"
          },
          {
            "value" : "small",
            "label": "Small"
          }
        ]
      },
      {
        "type" : "select",
        "id" : "section_spacing",
        "label" : "Section Spacing",
        "default" : "medium",
        "options" : [
          {
            "value" : "none",
            "label" : "No Spacing"
          },
          {
            "value" : "small",
            "label": "Small"
          },
          {
            "value" : "medium",
            "label" : "Medium"
          }, {
"value" : "full-height",
"label" : "Full Height"
},
          {
            "value" : "large",
            "label" : "Large"
          },
          {
            "value": "huge",
            "label" : "Huge"
          }
        ]
      },
        {
        "type" : "image_picker",
        "id" : "background_image",
        "label" : "Background Image",
        "info": "Use with full-width sections, please!"
      },
      {
        "type" : "select",
        "id" : "background_style",
        "label" : "Background Image Style",
        "default" : "cover",
        "options" : [
          {
            "value" : "cover",
            "label" : "Cover"
          },
          {
            "value" : "repeat-x",
            "label" : "Horizontal Tile"
          },
          {
            "value" : "repeat-y",
            "label" : "Vertical Tile"
          },
          {
            "value" : "repeat-all",
            "label" : "Tile"
          },
          {
            "value" : "rellax",
            "label" : "Parallax"
          }
        ]
      }
    ],
    "blocks" : [
      {
        "type" : "text",
        "name" : "Rich Text",
        "settings" : [
          {
            "type": "header",
            "content": "Content"
          },

          {
            "type": "text",
            "id": "pre_title",
            "label": "Pre-Heading",
            "default": "Use this space to"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Talk about your brand"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
          },
          {
            "type" : "text",
            "id" : "button_text",
            "label" : "Button Text"
          },
          {
            "type" : "url",
            "id" : "button_url",
            "label" : "Button URL"
          },
          {
            "type": "header",
            "content": "Colors/background"
          },
          {
            "type" : "color",
            "id" : "background_color",
            "label" : "Background Color"
          },
          {
            "type" : "color",
            "id" : "text_color",
            "label" : "Text Color"
          },
          {
            "type" : "header",
            "content" : "Spacing"
          },
          {
            "type" : "select",
            "options" : [
              {
                "value" : "small",
                "label" : "Small"
              },
              {
                "value" : "medium",
                "label" : "Medium"
              },
              {
                "value" : "large",
                "label" : "Large"
              },
              {
                "value" : "huge",
                "label" : "Huge"
              }
            ],
            "id" : "size",
            "label" :"Size"
          },
          {
            "type" : "checkbox",
            "id" :"expand",
            "label" : "Remove Padding"
          },
          {
            "type" : "checkbox",
            "id" :"full-width",
            "label" : "Make full-width (section break)"
          },
          {
            "type": "header",
            "content": "Text Settings"
          },
           {
            "type" : "select",
            "options" : [
              {
                "value" : "left",
                "label" : "Left"
              },
              {
                "value" : "center",
                "label" : "Center"
              },
              {
                "value" : "right",
                "label" : "Right"
              }
            ],
            "default" : "center",
            "id" : "align",
            "label" :"Text Alignment"
          },
          {
            "type" : "select",
            "id" : "text_style",
            "label" : "Text Style",
            "default" :  "standard",
            "info" : "Used for advanced branding!",
            "options" : [

              {
                "value" : "standard",
                "label" : "Standard"
              },
              {
                "value" : "special",
                "label" : "Special"
              },
              {
                "value" : "simple",
                "label" : "Simple"
              }
            ]
          }
        ]
      },
      {
        "type" : "divider",
        "name" : "Divider",
        "settings" : [
          {
            "type" : "paragraph",
            "content" : "Use this block to space front-page sections"
          },
          {
            "type": "range",
            "id": "margin",
            "min": 0,
            "max": 12,
            "step": 1,
            "unit": "em",
            "label": "Spacing",
            "default": 3
          },
          {
            "type" : "select",
            "id" : "type",
            "label" : "Style",
            "options" : [
              {
                "value":  "transparent",
                "label" : "Transparent"
              },
              {
                "value":  "border-full",
                "label" : "Border (Full Width)"
              },
              {
                "value":  "border-half",
                "label" : "Border (Half Width)"
              }
            ]
          },
          {
            "type" : "image_picker",
            "id" : "image",
            "label" : "Custom Image",
            "info" : "Insert a custom image divider"
          },
          {
              "type": "range",
              "id": "image_max_width",
              "label": {
                  "de": "Logobreite",
                  "en": "Custom  width",
                  "es": "Ancho  personalizado",
                  "fr": "Largeur personnalisée ",
                  "it": "Larghezza  personalizzato",
                  "ja": "ロゴの幅をカスタムする",
                  "pt-BR": "Largura do  personalizado"
              },
              "min": 10,
              "max": 900,
              "step": 10,
              "unit": {
                  "de": "px",
                  "en": "px",
                  "es": "px",
                  "fr": "px",
                  "it": "px",
                  "ja": "px",
                  "pt-BR": "px"
              },
              "default": 150
          },
          {
            "type" : "color",
            "id" : "color",
            "label" : "Border Color",
            "info": "If left blank, uses the theme default."
          },
          {
            "type" : "checkbox",
            "id" : "hide_mobile",
            "label" : "Hide on mobile?"
          }
        ]
      },
      {
        "type" : "background",
        "name" : "Background w/ Text",
        "settings": [
          {
            "type": "header",
            "content": "background"
          },
          {
            "type": "color",
            "id": "background_color",
            "default": "#000000",
            "label": "Background Color",
            "info": "Also the overlay color!"
          },
          {
            "type": "color",
            "id": "text_color",
            "default": "#ffffff",
            "label": "Text Color"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Background Image"
          },
          {
            "type": "checkbox",
            "id": "disable_cropping",
            "label": "Disable Cropping",
            "default": false,
            "info" : "Use to make the image determine the slide size"
          },
          {
            "type": "image_picker",
            "id": "image_mobile",
            "label": "Mobile Image",
            "info": "Use if you prefer a different image on mobile! (squarer dimensions, usually, around 1000x1000!)"
          },
          {
            "type": "image_picker",
            "id": "image_wide",
            "label": "Wide Image",
            "info": "Use if you prefer a different image on wider screens! (shorter dimensions, usually, around 2000x800!)"
          },
          {
            "type" : "url",
            "id" : "mp4",
            "label" : "Video",
            "info" : "Upload to Settings->Files. Leave blank to use photos."
          },
          {
            "type": "range",
            "id": "opacity",
            "label": "Overlay",
            "info": "Set to 0 to disable overlay.",
            "max": 100,
            "min": 0,
            "step": 10,
            "default": 50
          },
          {
            "type": "range",
            "id": "opacity_mobile",
            "label": "Overlay (Mobile)",
            "info": "Set to 0 to disable overlay.",
            "max": 100,
            "min": 0,
            "step": 10,
            "default": 50
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type" : "url",
            "label" : "URL",
            "id" : "url",
            "info" : "Leave blank to use buttons instead!"
          },
          {
            "type": "text",
            "id": "introduction",
            "label": "Introduction",
            "default": "This is an"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Image Overlay Section"
          },
          {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle",
            "default": "And even more!"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
          },
          {
            "type": "header",
            "content": "Image Content",
            "info": "Use an image as part of/all the content"
          },
          {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo"
          },
          {
            "type": "range",
            "id": "logo_max_width",
            "label": {
              "de": "Logobreite",
              "en": "Logo Width",
              "es": "Ancho del logotipo personalizado",
              "fr": "Largeur personnalisée du logo",
              "it": "Larghezza logo personalizzato",
              "ja": "ロゴの幅をカスタムする",
              "pt-BR": "Largura do logotipo personalizado"
            },
            "min": 50,
            "max": 900,
            "step": 25,
            "unit": {
              "de": "px",
              "en": "px",
              "es": "px",
              "fr": "px",
              "it": "px",
              "ja": "px",
              "pt-BR": "px"
            },
            "default": 350
          },
          {
            "type": "select",
            "id": "logo_format",
            "label": "Image Format",
            "options": [
              {
                "value": "replace_header",
                "label": "Replace Header"
              },
              {
                "value": "before_header",
                "label": "Before All Content"
              },
              {
                "value": "next_to_content",
                "label": "Next To Content"
              }
            ],
            "default": "replace_header"
          },
          {
            "type": "header",
            "content": "Buttons"
          },
          {
            "type": "text",
            "id": "button_1_text",
            "default": "Collection Button",
            "label": "Button 1 Text"
          },
          {
            "type": "url",
            "id": "button_1_link",
            "default": "/collections/all",
            "label": "Button 1 Link"
          },
          {
            "type": "text",
            "id": "button_2_text",
            "label": "Button 2 Text"
          },
          {
            "type": "url",
            "id": "button_2_link",
            "label": "Button 2 Link"
          },
          {
            "type" : "header",
            "content" : "Spacing"
          },
          {
            "type" : "select",
            "options" : [
              {
                "value" : "small",
                "label" : "Small"
              },
              {
                "value" : "medium",
                "label" : "Medium"
              },
              {
                "value" : "large",
                "label" : "Large"
              },
              {
                "value" : "huge",
                "label" : "Huge"
              }
            ],
            "id" : "size",
            "label" :"Size"
          },
          {
            "type" : "checkbox",
            "id" :"expand",
            "label" : "Remove Padding"
          },
          {
            "type" : "checkbox",
            "id" :"full-width",
            "label" : "Make full-width (section break)"
          },
          {
            "type": "header",
            "content": "Style + Alignment"
          },
          {
            "type": "select",
            "id": "content_style",
            "label": "Content Style",
            "default": "centered",
            "options": [
              {
                "value": "centered",
                "label": "Centered (no background)"
              },
              {
                "value": "boxed",
                "label": "Boxed "
              },
              {
                "value": "boxed-extra",
                "label": "Boxed (W/extra)"
              }
            ]
          },
          {
            "type": "select",
            "id": "content_style_mobile",
            "label": "Content Style (Mobile)",
            "default": "centered",
            "options": [
              {
                "value": "centered",
                "label": "Centered (no background)"
              },
              {
                "value": "boxed",
                "label": "Boxed "
              },
              {
                "value": "boxed-extra",
                "label": "Boxed (w/extra)"
              }
            ]
          },
          {
            "type": "select",
            "id": "content_location",
            "label": "Content Location",
            "default": "centered",
            "options": [
              {
                "value": "centered",
                "label": "Centered"
              },
              {
                "value": "bottom-left",
                "label": "Bottom Left"
              },
              {
                "value": "bottom-right",
                "label": "Bottom Right"
              },
              {
                "value": "top-left",
                "label": "Top Left"
              },
              {
                "value": "top-right",
                "label": "Top Right"
              },
              {
                "value": "center-left",
                "label": "Center Left"
              },
              {
                "value": "center-right",
                "label": "Center Right"
              }
            ]
          },

          {
            "type": "select",
            "id": "text_align",
            "label": "Text Alignment",
            "default": "center",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          },
          {
            "type": "select",
            "id": "text_size",
            "label": "Text Size",
            "default": "standard",
            "options": [
              {
                "value": "small",
                "label": "Small"
              },
              {
                "value": "standard",
                "label": "Standard"
              },
              {
                "value": "large",
                "label": "Large"
              },
              {
                "value": "mega",
                "label": "Mega"
              }
            ]
          },
          {
            "type" : "select",
            "id" : "text_style",
            "label" : "Text Style",
            "default" :  "standard",
            "info" : "Used for advanced branding!",
            "options" : [

              {
                "value" : "standard",
                "label" : "Standard"
              },
              {
                "value" : "special",
                "label" : "Special"
              },
              {
                "value" : "simple",
                "label" : "Simple"
              }
            ]
          }
        ]
      },
      {
        "type" :"product",
        "name" : "Product",
        "settings" : [
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          },
          {
            "type": "image_picker",
            "id": "product_image",
            "label": "Replace Product Image"
          },
          {
            "type": "header",
            "content": "Content"
          },

          {
            "type": "text",
            "id": "pre_title",
            "label": "Pre-Heading"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "info": "Leave blank to use the product Title"
          },
           {
            "type": "text",
            "id": "post_title",
            "label": "Post-Heading"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "header",
            "content": "Call To Action"
          },
          {
            "type": "text",
            "id": "button_title",
            "label": "Button Title",
            "default": "Shop Now"
          },
           {
              "type" : "select",
              "id" : "header_size",
              "label" : "Header Style",
              "options" : [
                {
                  "value" : "hidden",
                  "label" : "Hidden"
                },
                {
                  "value" : "small",
                  "label" : "Small"
                },
                {
                  "value" : "standard",
                  "label" : "Standard"
                },
                {
                  "value" : "large",
                  "label" : "Large"
                },
                {
                  "value" : "xl",
                  "label" :"Extra Large"
                }
              ]
          },
          {
            "type": "checkbox",
            "id": "use_form",
            "label": "Use Product Form",
            "default": false,
            "info": "Will replace the content/button with the product form"
          },
           {
            "type": "header",
            "content": "Colors/background"
          },
          {
            "type" : "color",
            "id" : "background_color",
            "label" : "Background Color"
          },
          {
            "type" : "color",
            "id" : "text_color",
            "label" : "Text Color"
          },
          {
            "type" : "header",
            "content" : "Spacing"
          },
          {
            "type" : "select",
            "options" : [
              {
                "value" : "small",
                "label" : "Small"
              },
              {
                "value" : "medium",
                "label" : "Medium"
              },
              {
                "value" : "large",
                "label" : "Large"
              },
              {
                "value" : "huge",
                "label" : "Huge"
              }
            ],
            "id" : "size",
            "label" :"Size"
          },
          {
            "type" : "checkbox",
            "id" :"expand",
            "label" : "Remove Padding"
          },
          {
            "type" : "checkbox",
            "id" :"full-width",
            "label" : "Make full-width (section break)"
          },
          {
            "type": "header",
            "content": "Text Settings"
          },
           {
            "type" : "select",
            "options" : [
              {
                "value" : "left",
                "label" : "Left"
              },
              {
                "value" : "center",
                "label" : "Center"
              },
              {
                "value" : "right",
                "label" : "Right"
              }
            ],
            "default" : "center",
            "id" : "align",
            "label" :"Text Alignment"
          },
          {
            "type" : "select",
            "id" : "text_style",
            "label" : "Text Style",
            "default" :  "standard",
            "info" : "Used for advanced branding!",
            "options" : [

              {
                "value" : "standard",
                "label" : "Standard"
              },
              {
                "value" : "special",
                "label" : "Special"
              },
              {
                "value" : "simple",
                "label" : "Simple"
              }
            ]
          }
        ]
      },
      {
        "type" : "code",
        "name" : "Code/Embed",
        "settings" : [
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "text",
            "id": "pre_title",
            "label": "Pre-Heading",
            "default": "Use this text to"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Spotlight Content"
          },
           {
            "type": "text",
            "id": "post_title",
            "label": "Post-Heading",
            "default": "And even more!"
          },
          {
              "type" : "select",
              "id" : "header_size",
              "label" : "Header Style",
              "options" : [
                {
                  "value" : "hidden",
                  "label" : "Hidden"
                },
                {
                  "value" : "small",
                  "label" : "Small"
                },
                {
                  "value" : "standard",
                  "label" : "Standard"
                },
                {
                  "value" : "large",
                  "label" : "Large"
                },
                {
                  "value" : "xl",
                  "label" :"Extra Large"
                }
              ]
          },

          {
            "type" : "html",
            "id" : "html",
            "label" : "Code",
            "info" : "Usually used for embed codes!"
          },
          {
            "type": "checkbox",
            "id": "shadow",
            "label": "Shadow under embed",
            "default": false
          },
           {
            "type" : "text",
            "id" : "button_text",
            "label" : "Button Text"
          },
          {
            "type" : "url",
            "id" : "button_url",
            "label" : "Button URL"
          },
           {
            "type": "header",
            "content": "Colors/background"
          },
          {
            "type" : "color",
            "id" : "background_color",
            "label" : "Background Color"
          },
          {
            "type" : "color",
            "id" : "text_color",
            "label" : "Text Color"
          },
          {
            "type" : "header",
            "content" : "Spacing"
          },
          {
            "type" : "select",
            "options" : [
              {
                "value" : "small",
                "label" : "Small"
              },
              {
                "value" : "medium",
                "label" : "Medium"
              },
              {
                "value" : "large",
                "label" : "Large"
              },
              {
                "value" : "huge",
                "label" : "Huge"
              }
            ],
            "id" : "size",
            "label" :"Size"
          },
          {
            "type" : "checkbox",
            "id" :"expand",
            "label" : "Remove Padding"
          },
          {
            "type" : "checkbox",
            "id" :"full-width",
            "label" : "Make full-width (section break)"
          },
          {
            "type": "header",
            "content": "Text Settings"
          },
           {
            "type" : "select",
            "options" : [
              {
                "value" : "left",
                "label" : "Left"
              },
              {
                "value" : "center",
                "label" : "Center"
              },
              {
                "value" : "right",
                "label" : "Right"
              }
            ],
            "default" : "center",
            "id" : "align",
            "label" :"Text Alignment"
          },
          {
            "type" : "select",
            "id" : "text_style",
            "label" : "Text Style",
            "default" :  "standard",
            "info" : "Used for advanced branding!",
            "options" : [

              {
                "value" : "standard",
                "label" : "Standard"
              },
              {
                "value" : "special",
                "label" : "Special"
              },
              {
                "value" : "simple",
                "label" : "Simple"
              }
            ]
          }
        ]
      },
      {
        "type" : "image",
        "name" : "Image",
        "settings" : [
          {
            "type" : "header",
            "content" : "Content"
          },
          {
            "type" : "image_picker",
            "label" : "Image",
            "id" : "image"
          },
          {
            "type" : "url",
            "label" : "Image Link",
            "id" : "image_link"
          },
          {
            "type" : "checkbox",
            "id" : "link_external",
            "label" : "External Link?"
          },
           {
            "type": "header",
            "content": "Colors/background"
          },
          {
            "type" : "color",
            "id" : "background_color",
            "label" : "Background Color"
          },
          {
            "type" : "color",
            "id" : "text_color",
            "label" : "Text Color"
          },
          {
            "type" : "header",
            "content" : "Spacing"
          },
          {
            "type" : "select",
            "options" : [
              {
                "value" : "small",
                "label" : "Small"
              },
              {
                "value" : "medium",
                "label" : "Medium"
              },
              {
                "value" : "large",
                "label" : "Large"
              },
              {
                "value" : "huge",
                "label" : "Huge"
              }
            ],
            "id" : "size",
            "label" :"Size"
          },
          {
            "type" : "checkbox",
            "id" :"expand",
            "label" : "Remove Padding"
          },
          {
            "type" : "checkbox",
            "id" :"full-width",
            "label" : "Make full-width (section break)"
          }
        ]
      },

      {
        "type" : "video_link",
        "name" : "Video",
        "settings" : [

          {
            "type" : "image_picker",
            "id" : "image",
            "label" : "Fallback Image"
          },
         {
            "type" : "url",
            "id" : "mp4",
            "label" : "MP4",
            "info" : "Upload to settings->files and then copy the url here!"
          },
          {
            "type" : "color",
            "id" : "background_color",
            "label" : "Background Color"
          },

          {
            "type" : "header",
            "content" : "Spacing"
          },
          {
            "type" : "select",
            "options" : [
              {
                "value" : "small",
                "label" : "Small"
              },
              {
                "value" : "medium",
                "label" : "Medium"
              },
              {
                "value" : "large",
                "label" : "Large"
              },
              {
                "value" : "huge",
                "label" : "Huge"
              }
            ],
            "id" : "size",
            "label" :"Size"
          },
          {
            "type" : "checkbox",
            "id" :"expand",
            "label" : "Remove Padding"
          },
          {
            "type" : "checkbox",
            "id" :"full-width",
            "label" : "Make full-width (section break)"
          },
          {
            "type": "header",
            "content": "Text Settings"
          },
           {
            "type" : "select",
            "options" : [
              {
                "value" : "left",
                "label" : "Left"
              },
              {
                "value" : "center",
                "label" : "Center"
              },
              {
                "value" : "right",
                "label" : "Right"
              }
            ],
            "default" : "center",
            "id" : "align",
            "label" :"Text Alignment"
          },
          {
            "type" : "select",
            "id" : "text_style",
            "label" : "Text Style",
            "default" :  "standard",
            "info" : "Used for advanced branding!",
            "options" : [

              {
                "value" : "standard",
                "label" : "Standard"
              },
              {
                "value" : "special",
                "label" : "Special"
              },
              {
                "value" : "simple",
                "label" : "Simple"
              }
            ]
          }
        ]
      },
      {
        "type" : "before-after",
        "name" : "Before and After",
        "settings" : [
          {
            "type" : "header",
            "content" : "Content"
          },
          {
            "type": "image_picker",
            "id": "image_before",
            "label": "Image Before"
          },
          {
            "type": "image_picker",
            "id": "image_after",
            "label": "Image After"
          },
          {
            "type": "text",
            "id": "label_before",
            "label": "Before Label",
            "default": "Before"
          },
          {
            "type": "text",
            "id": "label_after",
            "label": "After Label",
            "default": "After"
          },
          {
            "type": "range",
            "id": "start",
            "min": 10,
            "max": 90,
            "step": 5,
            "unit": "%",
            "label": "Start Point",
            "default": 50
          },
           {
              "type": "text",
              "id": "introduction",
              "label": "Introduction"
            },
            {
              "type": "text",
              "id": "heading",
              "label": "Heading"
            },

            {
              "type" : "text",
              "id" : "subtitle",
              "label" : "Subtitle"
            },
            {
              "type": "text",
              "id": "button_text",
              "label": "Button Text"
            },
           {
            "type": "header",
            "content": "Colors/background"
          },
          {
            "type" : "color",
            "id" : "background_color",
            "label" : "Background Color"
          },
          {
            "type" : "color",
            "id" : "text_color",
            "label" : "Text Color"
          },
          {
            "type" : "header",
            "content" : "Spacing"
          },
          {
            "type" : "select",
            "options" : [
              {
                "value" : "small",
                "label" : "Small"
              },
              {
                "value" : "medium",
                "label" : "Medium"
              },
              {
                "value" : "large",
                "label" : "Large"
              },
              {
                "value" : "huge",
                "label" : "Huge"
              }
            ],
            "id" : "size",
            "label" :"Size"
          },
          {
            "type" : "checkbox",
            "id" :"expand",
            "label" : "Remove Padding"
          },
          {
            "type" : "checkbox",
            "id" :"full-width",
            "label" : "Make full-width (section break)"
          },
          {
            "type": "header",
            "content": "Text Settings"
          },
           {
            "type" : "select",
            "options" : [
              {
                "value" : "left",
                "label" : "Left"
              },
              {
                "value" : "center",
                "label" : "Center"
              },
              {
                "value" : "right",
                "label" : "Right"
              }
            ],
            "default" : "center",
            "id" : "align",
            "label" :"Text Alignment"
          },
          {
            "type" : "select",
            "id" : "text_style",
            "label" : "Text Style",
            "default" :  "standard",
            "info" : "Used for advanced branding!",
            "options" : [

              {
                "value" : "standard",
                "label" : "Standard"
              },
              {
                "value" : "special",
                "label" : "Special"
              },
              {
                "value" : "simple",
                "label" : "Simple"
              }
            ]
          }
        ]
      },
      {
        "type" : "textimg",
        "name" : "Image w/ Text",
        "settings" : [
           {
            "type" : "header",
            "content" : "Images"
          },
          {
            "type" : "image_picker",
            "label" : "Image 1",
            "id" : "image"
          },
          {
            "type" : "url",
            "label" : "Image Link",
            "id" : "image_link"
          },
          {
            "type" : "checkbox",
            "id" : "link_external",
            "label" : "External Link?"
          },
          {
            "type" : "header",
            "content" : "Block Settings"
          },
          {
            "type" : "select",
            "id" : "layout",
            "label" : "Layout",
            "options" : [
              {
                "value" : "header-image-button",
                "label" : "Header -> Image -> Button"
              },
              {
                "value" : "image-header-button",
                "label" : "Image -> Header -> Button"
              },
              {
                "value" : "header-button-image",
                "label" : "Header -> Button -> Image"
              }
            ]
          },
          {
            "type" : "select",
            "options" : [
              {
                "value" : "small",
                "label" : "Small"
              },
              {
                "value" : "medium",
                "label" : "Medium"
              },
              {
                "value" : "large",
                "label" : "Large"
              },
              {
                "value" : "huge",
                "label" : "Huge"
              }
            ],
            "id" : "size",
            "label" :"Size"
          },


         {
           "type" : "header",
           "content" : "Text"
         },
           {
            "type" : "select",
            "options" : [
              {
                "value" : "left",
                "label" : "Left"
              },
              {
                "value" : "center",
                "label" : "Center"
              },
              {
                "value" : "right",
                "label" : "Right"
              }
            ],
            "default" : "center",
            "id" : "align",
            "label" :"Text Alignment"
          },
          {
        "type" : "select",
        "id" : "text_style",
        "label" : "Text Style",
        "default" :  "standard",
        "info" : "Used for advanced branding!",
        "options" : [

          {
            "value" : "standard",
            "label" : "Standard"
          },
          {
            "value" : "special",
            "label" : "Special"
          },
          {
            "value" : "simple",
            "label" : "Simple"
          }
        ]
      },
          {
            "type" : "checkbox",
            "id" :"expand",
            "label" : "Remove Padding"
          },
          {
            "type" : "checkbox",
            "id" :"full-width",
            "label" : "Make full-width (section break)"
          },
            {
            "type": "text",
            "id": "pre_title",
            "label": "Pre-Heading",
            "default": "Use this text to"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Spotlight Content"
          },
           {
            "type": "text",
            "id": "post_title",
            "label": "Post-Heading",
            "default": "And even more!"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
          },
          {
            "type" : "text",
            "id" : "button_text",
            "label" : "Button Text"
          },
          {
            "type" : "url",
            "id" : "button_url",
            "label" : "Button URL"
          }
        ]
      }
    ],
    "max_blocks" : 20,
    "presets": [
      {
        "name": "Content Columns",
        "category": "Layout"
      },
      {
        "name": "Embed",
        "category": "Music",
        "settings" : {
          "title" : "Music Embed"
        },
        "blocks"  : [
          {"type" : "code"}
        ]
      },
      {
        "name": "Image With Text",
        "category": "Image",
        "settings" : {
          "title" : "Image w/ Text"
        },
        "blocks" : [
          {
            "type" : "image"
          },
          {
            "type" : "text"
          }
        ]
      },
      {
        "name": "Embed w/ Product",
        "category" : "Product",
        "settings" : {
          "title" : "Embed w/ Product"
        },
        "blocks" : [
          {
            "type" : "code"
          },
          {
            "type" : "product"
          }
        ]
      }
    ]
  }
{% endschema %}