<div class="space-footer">
  <div class="book-inner">
  <h2 class="h3">{{section.settings.header}}</h2>
  <a class="button" href="{{section.settings.button_url}}"><i class="icon-calendar"></i> {{section.settings.button_text}}</a>
  </div>
</div>
{% schema %}
  {
    "name" : "Space Footer",
    "tag" : "section",
    "class": "overview",
    "settings" : [

      {
        "type" : "textarea",
        "id" : "header",
        "label" : "header",
        "default" : "Ready to book your next event? We're ready to host you!"
      },
      {
        "type" : "url",
        "id" : "button_url",
        "label" : "Button URL"
      },
      {
        "type" : "text",
        "id" : "button_text",
        "label" : "Button Text",
        "default" : "Book Now"
      }
    ]
  }
{% endschema %}